@import '../../colors.scss';
.blockEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  .mainButton {
    img {
      left: 30px;
    }

    &:hover {
      background-color: var(--color-light-blue);

      img {
        transform: translateX(-5px);
      }
    }
  }
}

.mainButton {
  position: relative;
  width: 18rem;
  height: 55px;
  background-color: var(--color-primary);
  border-radius: 15px;
  border: none;
  font-size: 16px;
  margin-top: 40px;
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  img {
    position: absolute;
    right: 30px;
    top: 17px;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background-color: var(--color-accent);

    img {
      transform: translateX(5px);
    }
  }
}
