:root {
  --color-primary: var(--color-blue);
  --color-accent: var(--color-light-blue);
  --color-secondary: var(--color-black);

  --color-blue: #006ff7;
  --color-light-blue: #00bdf7;
  --color-black: #000000;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-white: #ffffff;
  --color-grey: #eaeaea;
  --color-light-grey: #f8f8f8;
  --color-light-grey-100: #dbd2d2;
  --color-text: #777474;
  --color-dark-grey: #312f2f;
  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-bg-blue: #4ac8d9;
}
