* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

body {
  padding-top: 20px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

.container {
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1200px;
  padding: 0 70px;
}

.contentWrapper {
  padding: 35px 0;

  h1 {
    margin: 0;
  }
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.searchWrapper {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  align-items: center;

  input {
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
  }
}

.searchClearBtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.titleWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
